@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 42 42% 95%;
    --foreground: 127 10% 18%;
    --card: 42 42% 95%;
    --card-foreground: 8 31% 19%;
    --popover: 42 42% 95%;
    --popover-foreground: 8 31% 19%;
    --primary: 123 44% 34%;
    --primary-foreground: 0 0% 100%;
    --secondary: 125 42% 94%;
    --secondary-foreground: 125 59% 24%;
    --muted: 33 26% 92%;
    --muted-foreground: 140 3% 38%;
    --accent: 122 39% 85%;
    --accent-foreground: 125 59% 24%;
    --destructive: 1 65% 47%;
    --destructive-foreground: 0 0% 100%;
    --border: 0 0% 84%;
    --input: 35 26% 83%;
    --ring: 123 44% 34%;
    --chart-1: 122 39% 49%;
    --chart-2: 122 40% 40%;
    --chart-3: 123 44% 34%;
    --chart-4: 125 59% 24%;
    --chart-5: 125 56% 8%;
    --radius: 1rem;
  }

  .dark:root {
    --background: 131 18% 18%;
    --foreground: 120 5% 79%;
    --card: 128 14% 22%;
    --card-foreground: 120 5% 79%;
    --popover: 124 15% 20%;
    --popover-foreground: 33 26% 92%;
    --primary: 122 39% 49%;
    --primary-foreground: 120 100% 98%;
    --secondary: 116 11% 26%;
    --secondary-foreground: 115 17% 86%;
    --muted: 128 19% 16%;
    --muted-foreground: 130 6% 60%;
    --accent: 122 40% 40%;
    --accent-foreground: 33 26% 92%;
    --destructive: 1 65% 47%;
    --destructive-foreground: 0 0% 100%;
    --border: 116 11% 26%;
    --input: 116 11% 26%;
    --ring: 122 39% 49%;
    --chart-1: 123 40% 65%;
    --chart-2: 123 38% 57%;
    --chart-3: 122 39% 49%;
    --chart-4: 123 39% 45%;
    --chart-5: 122 40% 40%;
  }
}
