@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 97.6471%;
    --foreground: 0 0% 12.5490%;
    --card: 0 0% 98.8235%;
    --card-foreground: 0 0% 12.5490%;
    --popover: 0 0% 98.8235%;
    --popover-foreground: 0 0% 12.5490%;
    --primary: 16.6667 21.9512% 32.1569%;
    --primary-foreground: 0 0% 100%;
    --secondary: 34.0541 100.0000% 85.4902%;
    --secondary-foreground: 16.2712 50.4274% 22.9412%;
    --muted: 0 0% 93.7255%;
    --muted-foreground: 0 0% 39.2157%;
    --accent: 0 0% 90.9804%;
    --accent-foreground: 0 0% 12.5490%;
    --destructive: 10.1639 77.8723% 53.9216%;
    --destructive-foreground: 0 0% 100%;
    --border: 0 0% 84.7059%;
    --input: 0 0% 84.7059%;
    --ring: 16.6667 21.9512% 32.1569%;
    --chart-1: 16.6667 21.9512% 32.1569%;
    --chart-2: 34.0541 100.0000% 85.4902%;
    --chart-3: 0 0% 90.9804%;
    --chart-4: 34.5763 100.0000% 88.4314%;
    --chart-5: 16.5 24.3902% 32.1569%;
    --radius: 1rem;
  }

  .dark:root {
    --background: 0 0% 6.6667%;
    --foreground: 0 0% 93.3333%;
    --card: 0 0% 9.8039%;
    --card-foreground: 0 0% 93.3333%;
    --popover: 0 0% 9.8039%;
    --popover-foreground: 0 0% 93.3333%;
    --primary: 29.5082 100% 88.0392%;
    --primary-foreground: 183.1579 54.2857% 6.8627%;
    --secondary: 28.2353 17.5258% 19.0196%;
    --secondary-foreground: 29.5082 100% 88.0392%;
    --muted: 0 0% 13.3333%;
    --muted-foreground: 0 0% 70.5882%;
    --accent: 0 0% 16.4706%;
    --accent-foreground: 0 0% 93.3333%;
    --destructive: 10.1639 77.8723% 53.9216%;
    --destructive-foreground: 0 0% 100%;
    --border: 45 14.2857% 10.9804%;
    --input: 0 0% 28.2353%;
    --ring: 29.5082 100% 88.0392%;
    --chart-1: 29.5082 100% 88.0392%;
    --chart-2: 28.2353 17.5258% 19.0196%;
    --chart-3: 0 0% 16.4706%;
    --chart-4: 30 17.8571% 21.9608%;
    --chart-5: 30 100% 87.8431%;
  }
}
